<%= form_tag(calculatePredictedGpas_path, :remote => true) do %>

  <div class="row">
		<div class="col-lg-3">
			<div class="form-group">
				<%= text_field_tag :cumulative_gpa, nil, :placeholder => "Cumulative GPA", class: 'form-control'%>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<%= text_field_tag :credits_earned, nil, :placeholder => "Credits earned", class: 'form-control' %>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<%= text_field_tag :major_gpa, nil, :placeholder => "Major GPA", class: 'form-control' %>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<%= text_field_tag :major_credits_earned, nil, :placeholder => "Major credits earned", class: 'form-control' %>
			</div>
		</div>
	</div>

		<h4>Your Courses This Semester</h4>
			<% 7.times do |course_number| %>

				
  			<div class="row">
				<div class="col-lg-1">
					<div class="form-group">
						<%= course_number + 1%>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="form-group">
						<%= select_tag :"credits[]", options_for_select([[label: 'Credits', value: ""], 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),class: 'form-control' %>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="form-group">
							<%= select_tag :"predicted_grade[]", options_for_select([[label: 'Predicted grade', value: ""],'A','AB', 'B', 'BC', 'C', 'CD', 'D', 'F']), class: 'form-control' %>
					</div>
				</div>
				
			    <div class="col-lg-2">
					<div class="form-group">
						<%= check_box_tag("is_major_course#{course_number}", '1', false) %>
						Is major course
					</div>
				</div>


			    <div class="col-lg-4">

							<%= select_tag :"grade_from_repeated_course[]", options_for_select([[label: 'Old grade if retaking course', value:""],'A','AB', 'B', 'BC', 'C', 'CD', 'D', 'F']),  class: 'form-control' %>

					</div>
					

				</div>
		
		<% end %>

	<div id="predicted_gpas"></div>
		<%= submit_tag "Calculate your predicted GPAs", class: "btn btn-primary"%>
	</br>
	</br>

<% end %>









