<%= form_tag(calculatePredictedGpas_path, :remote => true) do %>

	<%= text_field_tag :cumulative_gpa, nil, :placeholder => "Cumulative GPA" %>
	<br></br>
	<%= text_field_tag :credits_earned, nil, :placeholder => "Credits earned" %>
	<br></br>
	<%= text_field_tag :major_gpa, nil, :placeholder => "Major GPA" %>
	<br></br>
	<%= text_field_tag :major_credits_earned, nil, :placeholder => "Major credits earned" %>
	<br></br>
	<table>
		<tr>
			<th id="blue"></th>
			<th id="black">credits</th>
			<th id="blue">predicted grade</th>
			<th id="black">major?</th>
			<th id="blue">repeated?</th>
			<th id="black">previous grade (if repeated)</th>
		</tr>

		<tr>
			<% 7.times do |course_number| %>

				<td><%= course_number + 1%> </td>
				<td>
				<%= select_tag :"credits[]", options_for_select(['-', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), :style => "width:80px" %>
				</td>
				<td>
				<%= select_tag :"predicted_grade[]", options_for_select(['-','A','AB', 'B', 'BC', 'C', 'CD', 'D', 'F']), :style => "width:80px" %>
				</td>
				<td>	
				<%= check_box_tag :"is_major_course#{course_number}" %>
				</td>
				<td>
				<%= check_box_tag :"is_repeated_course#{course_number}" %>
				</td>
				<td>
				<%= select_tag :"grade_from_repeated_course[]", options_for_select(['-','A','AB', 'B', 'BC', 'C', 'CD', 'D', 'F']), :style => "width:80px" %>
				</td>
		</tr>
		<% end %>
	</table>

	<div id="predicted_gpas"></div>
	<br>
		<%= submit_tag "Calculate your predicted GPAs", class: "btn btn-primary"%>
	</br>

<% end %>









