			<!DOCTYPE html>
			<html>
			<head>
			   <title> <%= full_title(yield(:title)) %></title>
			  <%= javascript_include_tag "application" %>
			  <%= stylesheet_link_tag    "application", :media => "all" %>
			  <%= csrf_meta_tags %>
			  <%= render 'layouts/shim' %>
			  
			  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
			</head>
	
				<body>
			
					<div id="frameHeader" class="frame">
						<div id="header">
							<div id=row>
								 <div class="col-lg-3">
									<%= render 'layouts/logo_container' %>
								</div>
								 <div class="col-lg-4">
								 	</br>
									<h3 id="app-title">GPA Projections App</h3>
								</div>
							</div>
						
						</div>
					</div>		
				
					<div id="frameMain" class="frame">
						<% if flash[:error] %>
							<div id="error_explanation">
								  <p class='error'><%=h flash[:error] %></p>
							</div>
						<% end %>
						<% if flash[:alert] %>
							<div id="error_explanation">
								  <p class='error'><%=h flash[:alert] %></p>
							</div>
						<% end %>
						<% if flash[:notice] %>
							<div id="error_explanation">
								  <p class='error'><%=h flash[:notice] %></p>
							</div>
						<% end %>
			
						<%= yield %>
					 	
					</div>
			
					<div id="frameBottom" class="frame">
						<div class="row">
							<div class="col-lg-9" >
								<p id=about>
									"Target cumulative GPA" calculates GPA you need this semester to hit your target cumulative GPA.</br>
									"Target major GPA" calculates GPA you need this semester to hit your target major GPA.</br>
									"Predicted GPA" estimates your cumulative and major GPA based on grades you expect to have this semester.
								</p>
							</div>
						</div>
					</div>
					
			
			</body>
			</hmtl>
	
	
	