<!DOCTYPE html>
<html>
<head>
   <title> <%= full_title(yield(:title)) %></title>
 
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<div class="MainContainer">
		<%= render 'layouts/logo_container' %>
		<%= render 'layouts/app_name_container' %>
		<div class="PageContent">
			
			<%= render 'layouts/nav_tab' %>
			<% if flash[:error] %>
				<div id="error_explanation">
					  <p class='error'><%=h flash[:error] %></p>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div id="error_explanation">
					  <p class='error'><%=h flash[:alert] %></p>
				</div>
			<% end %>
			<% if flash[:notice] %>
				<div id="error_explanation">
					  <p class='error'><%=h flash[:notice] %></p>
				</div>
			<% end %>

			<%= yield %>
		 	
		</div>
	</div>
</body>
</hmtl>
